body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #965ef0;
    margin: 0;
}
/* .smit-logo{

} */

.container {
    background-color: #ac7ef5d1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #218838;
}

.form-container p {
    margin-top: 10px;
    text-align: center;
}
